# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
server/.env

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build / Distribución
dist/
build/

# Otros
*.bak
*.tmp
